<ion-view title="ES Question 4" id="page16" style="background-color:#87E3B2;">
  <ion-content padding="true" class="has-header">
    <h3 id="eSQuestion4-heading11" style="color:#874D9C;text-align:center;">What do you think is most important about choosing your future job?</h3>
    <form id="eSQuestion4-form4" class="list">
      <ion-checkbox id="eSQuestion4-checkbox17">Money</ion-checkbox>
      <ion-checkbox id="eSQuestion4-checkbox18">Popularity</ion-checkbox>
      <ion-checkbox id="eSQuestion4-checkbox19">Doing what you love</ion-checkbox>
      <ion-checkbox id="eSQuestion4-checkbox20">Doing something easy</ion-checkbox>
      <ion-checkbox id="eSQuestion4-checkbox21">Challenging yourself </ion-checkbox>
      <ion-checkbox id="eSQuestion4-checkbox29">Working well with others</ion-checkbox>
      <a ui-sref="tabsController.eSQuestion5" id="eSQuestion4-button9" class="button button-stable  button-block">Next &gt;&gt;</a>
    </form>
  </ion-content>
</ion-view>