<ion-view title="ES Question 3" id="page14" style="background-color:#87E3B2;">
  <ion-content padding="true" class="has-header">
    <h3 id="eSQuestion3-heading9" style="color:#874D9C;text-align:center;">What do you want to do when you grow up?</h3>
    <form id="eSQuestion3-form2" class="list">
      <ion-checkbox id="eSQuestion3-checkbox6">Be a scientist</ion-checkbox>
      <ion-checkbox id="eSQuestion3-checkbox7">Make games or websites</ion-checkbox>
      <ion-checkbox id="eSQuestion3-checkbox8">Be a businessman or woman </ion-checkbox>
      <ion-checkbox id="eSQuestion3-checkbox9">Build things</ion-checkbox>
      <ion-checkbox id="eSQuestion3-checkbox10" name="Explore space">Teach</ion-checkbox>
      <ion-checkbox id="eSQuestion3-checkbox28">Explore space</ion-checkbox>
      <a ui-sref="tabsController.eSQuestion4" id="eSQuestion3-button8" class="button button-stable  button-block">Next &gt;&gt;</a>
    </form>
  </ion-content>
</ion-view>