<ion-view title="HS Question 3" id="page12" style="background-color:#87E3B2;">
  <ion-content padding="true" class="has-header">
    <h3 id="hSQuestion3-heading18" style="color:#874D9C;text-align:center;">I like to...
      <br>(choose up to 3)</h3>
    <form id="hSQuestion3-form11" class="list">
      <ion-checkbox id="hSQuestion3-checkbox61">Figure out how things work</ion-checkbox>
      <ion-checkbox id="hSQuestion3-checkbox62">Be outdoors</ion-checkbox>
      <ion-checkbox id="hSQuestion3-checkbox63">Build/make things</ion-checkbox>
      <ion-checkbox id="hSQuestion3-checkbox64">Learn about new technology</ion-checkbox>
      <ion-checkbox id="hSQuestion3-checkbox65">Work with numbers</ion-checkbox>
      <ion-checkbox id="hSQuestion3-checkbox66">Work with people</ion-checkbox>
    </form>
    <a ui-sref="tabsController.highSchoolPathResults" id="hSQuestion3-button16" class="button button-stable  button-block">Find out your dream job!</a>
  </ion-content>
</ion-view>