<ion-view title="HS Question 1" id="page9" style="background-color:#87E3B2;">
  <ion-content padding="true" class="has-header">
    <h3 id="hSQuestion1-heading16" style="color:#874D9C;text-align:center;">What is your favorite class?</h3>
    <form id="hSQuestion1-form9" class="list">
      <ion-checkbox id="hSQuestion1-checkbox49">Biology</ion-checkbox>
      <ion-checkbox id="hSQuestion1-checkbox50">Chemistry</ion-checkbox>
      <ion-checkbox id="hSQuestion1-checkbox51">Physics</ion-checkbox>
      <ion-checkbox id="hSQuestion1-checkbox52">Math</ion-checkbox>
      <ion-checkbox id="hSQuestion1-checkbox53">Art</ion-checkbox>
      <ion-checkbox id="hSQuestion1-checkbox54">History</ion-checkbox>
    </form>
    <a ui-sref="tabsController.hSQuestion2" id="hSQuestion1-button14" class="button button-stable  button-block">Next &gt;&gt;</a>
  </ion-content>
</ion-view>