<ion-view title="MS Question 1" id="page6" style="background-color:#87E3B2;">
  <ion-content padding="true" class="has-header">
    <h3 id="mSQuestion1-heading13" style="color:#874D9C;text-align:center;">What is your favorite subject?
      <br>(choose up to 3)</h3>
    <form id="mSQuestion1-form6" class="list">
      <ion-checkbox id="mSQuestion1-checkbox31">Biology</ion-checkbox>
      <ion-checkbox id="mSQuestion1-checkbox32">Chemistry</ion-checkbox>
      <ion-checkbox id="mSQuestion1-checkbox33">Math</ion-checkbox>
      <ion-checkbox id="mSQuestion1-checkbox34">Art</ion-checkbox>
      <ion-checkbox id="mSQuestion1-checkbox35">English</ion-checkbox>
      <ion-checkbox id="mSQuestion1-checkbox36">Social Studies</ion-checkbox>
    </form>
    <a ui-sref="tabsController.mSQuestion2" id="mSQuestion1-button11" class="button button-stable  button-block">Next &gt;&gt;</a>
  </ion-content>
</ion-view>