<ion-view title="MS Question 3" id="page8" style="background-color:#87E3B2;">
  <ion-content padding="true" class="has-header">
    <h3 id="mSQuestion3-heading15" style="color:#874D9C;text-align:center;">What is your ideal future career?</h3>
    <form id="mSQuestion3-form8" class="list">
      <ion-checkbox id="mSQuestion3-checkbox43">Scientist</ion-checkbox>
      <ion-checkbox id="mSQuestion3-checkbox44">Web developer</ion-checkbox>
      <ion-checkbox id="mSQuestion3-checkbox45">Businessman or woman</ion-checkbox>
      <ion-checkbox id="mSQuestion3-checkbox46">Engineer</ion-checkbox>
      <ion-checkbox id="mSQuestion3-checkbox47">Astronomer</ion-checkbox>
      <ion-checkbox id="mSQuestion3-checkbox48">Teacher</ion-checkbox>
    </form>
    <a ui-sref="tabsController.hSQuestion1" id="mSQuestion3-button13" class="button button-stable  button-block">Proceed to high school &gt;&gt;</a>
  </ion-content>
</ion-view>