<ion-view title="MS Question 2" id="page7" style="background-color:#87E3B2;">
  <ion-content padding="true" class="has-header">
    <h3 id="mSQuestion2-heading14" style="color:#874D9C;text-align:center;">What is your favorite after school activity?</h3>
    <form id="mSQuestion2-form7" class="list">
      <ion-checkbox id="mSQuestion2-checkbox37">Robotics Club</ion-checkbox>
      <ion-checkbox id="mSQuestion2-checkbox38">Math League</ion-checkbox>
      <ion-checkbox id="mSQuestion2-checkbox39">Science League</ion-checkbox>
      <ion-checkbox id="mSQuestion2-checkbox40">Sports</ion-checkbox>
      <ion-checkbox id="mSQuestion2-checkbox41">Band</ion-checkbox>
      <ion-checkbox id="mSQuestion2-checkbox42">Chess Club</ion-checkbox>
    </form>
    <a ui-sref="tabsController.mSQuestion3" id="mSQuestion2-button12" class="button button-stable  button-block">Next &gt;&gt;</a>
  </ion-content>
</ion-view>