<ion-view title="Start" id="page3" style="background-color:#87E3B2;">
  <ion-content padding="true" class="has-header">
    <h1 id="start-heading1" style="color:#874D9C;text-align:center;">
      <b>Path to STEM</b>
    </h1>
    <div>
      <img src="img/fItIqwOBSnGoMtC0YLgT_lilblobs.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="start-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#874D9C;">
        <strong>Select your age group and an avatar who will help you on your journey to finding the career you could end up pursuing!</strong>
      </p>
    </div>
    <a ui-sref="tabsController.avatar" id="start-button1" class="button button-stable  button-block">Let's go!</a>
    <div>
      <img src="img/K1uiFmBXQQiRqStCEtPV_scuba-diano-2017.svg" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>